<% provide(:title, "タイムライン") %>

<% if user_signed_in? %>
    <% if current_user.has_family? %>
      <div class="fontIcon">
        <a href="#"><i class="fa fa-search fa-fw fa-2x" aria-hidden="true"></i></a>
        <a href="#familyPostModal"><i class="fa fa-pencil-square-o fa-fw fa-2x" aria-hidden="true"></i></a>
      </div>
      <div id="familyPostModal" class="modal-window">
        <div class="modal-inner">
          <%= render('shared/family_post_form') %>
        </div>
        <!-- <a href="#!" class="modal-close">&times;</a> -->
      </div>
    <% end %>

<div id="friendOrGeneralContents">
  <div id="familyPostsView">
    <% if @family_posts %>
        <% @family_posts.each do |f_p| %>
            <div class="familyPost">
              <% if f_p.general_open || (f_p.friend_open && current_family.has_family_relationship?(f_p.family)) || current_family == f_p.family %>
                <%= render 'family_posts/family_posts', family_post: f_p %>
              <% end %>
            </div>
        <% end %>
        <%= paginate @family_posts %>
      <% end %>
  </div>

  <% else %>
      <p>ログインしてください。</p>
      <%= link_to 'HOME', root_path %>
  <% end %>
</div>
