<h1>Editing Picture</h1>

<%= render 'form' %>

<!-- <div class="actions">
  <%= link_to 'Update Picture', {controller: 'pictures', action: 'edit', id: @picture.id, family_id: @family} %>
</div> -->

<%= link_to 'Show', picture_path(:id => @picture.id, :family_id => @family) %> |
<%= link_to 'Back', pictures_path(:family_id => @family) %>
