<h1>New Picture</h1>

<%= render 'form' %>

<!-- <div class="actions">
  <%= link_to 'Create Picture', {controller: 'pictures', action: 'create', id: @picture.id, family_id: @family} %>
</div> -->

<%= link_to 'Back', family_pictures_path(@family) %>
