$headerBg: #eee;
$footerBg: #eee;

$bg-lightGreen: #bbf987;
$bg-lightBlue: #87d8f9;
$bg-lightRed: #f98787;

$bg-lightOrange: #f9cd87;
$bg-mediumOrange: #f8a541;

$text-lightGray: #abaaab;
$text-mediumGray: #d7d7d7;

$text-lightOrange: #f5a523;

$iconOrange: #faa000;

$borderGray: #ccc;
