@import "bootstrap-sprockets";
@import "bootstrap";
@import "color";

footer{
  width: 100%;
  height: 8vh;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $footerBg;
  nav{
    height: 100%;
    ul{
      height: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content:         center;
      -webkit-align-items: center;
      align-items:         center;
      li{
        display: inline-block;
        width: 20vw;
        text-align: center;
        a{
          text-align: center;
          img{
            width: 5vh;
            height: 5vh;
            margin-top: 1vh;
          }
          p{
            margin: 0;
            font-size: 12px;
          }
        }
      }
    }
  }
}
